
.icon-unidades:before { content: '\e800'; } /* '' */
.icon-ocultar:before { content: '\e801'; } /* '' */
.icon-mostrar:before { content: '\e802'; } /* '' */
.icon-bitacora:before { content: '\e803'; } /* '' */
.icon-report:before { content: '\e804'; } /* '' */
.icon-conf:before { content: '\e805'; } /* '' */
